.about {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../../images/group.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-position: center;
}

.about .mobile-about-heading {
  display: none;
}

.about .about-heading h1 {
  color: #ffffff;
  margin: 10rem 0;
  font-size: 3rem;
  text-align: center;
}

.brief-text-head {
  margin-bottom: 2rem;
}

.brief-text-head span {
  border-bottom: 5px solid #20cfc4;
  padding-bottom: 7px;
}

.about .about-content h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.about-content h1 span {
  border-bottom: 5px solid #20cfc4;
  padding-bottom: 1rem;
}

.about .about-body {
  background-color: #fff;
  padding: 6rem 0 4rem;
}

.about .about-body .brief {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.about .about-body .brief-image {
  text-align: end;
}

.about .about-body .brief-image-group {
  text-align: start;
}

.about .about-body .actual-image2 {
  width: 75%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px double #20cfc4;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.about .about-body .actual-image2::selection {
  background: none;
}

.about .about-body .brief-text {
  align-self: center;
  text-align: justify;
}

.about .about-body .brief-text p .first-letter {
  font-size: 2rem;
  color: #20cfc4;
}

/* Testimonials */
.about-end {
  background-color: #fff;
  color: #000;
  margin: 3rem 5rem;
  padding: 3rem 4rem;
  height: 80vh;
}

.left-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.chuks,
.tewogbade,
.nas,
.rita {
  display: flex;
  justify-content: center;
}

.nas img,
.rita img {
  width: 45%;
}

.chuks img,
.tewogbade img {
  width: 60%;
}

.carou-text {
  align-self: center;
}

.nasiru .carou-text,
.tewo .carou-text {
  text-align: end;
}

.carou-text > p {
  margin-bottom: 2rem;
  font-style: italic;
}

.mobile-carou-text {
  display: none;
}

/* FAQS */
.about-faqs {
  margin-top: 5rem;
}

.accordion-button {
  border-style: none;
}

.accordion-button:not(.collapsed) {
  color: #20cfc4;
  background-color: #fff;
  border: none;
  outline: none;
}

.accordion-button:focus {
  box-shadow: none;
  border: 2px solid #20cfc4;
}

.accordion-button:active {
  border: 0;
  border-color: #20cfc4;
}
