@media (min-width: 320px) and (max-width: 991px) {
  .about {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../../images/group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    background-position: center;
    margin: 0;
    padding: 0;
  }

  .about .about-heading h1 {
    color: #ffffff;
    margin: 8rem 0 4rem;
    font-size: 2rem;
  }

  .about .about-body {
    padding: 1rem 0;
  }

  .about .about-heading h1 {
    font-size: 2rem;
  }

  .about-content h1 span {
    border-bottom: 5px solid #20cfc4;
    padding-bottom: 1rem;
  }

  .about .about-body .brief {
    display: block;
    margin-bottom: 1rem;
    height: 100%;
    padding: 3rem 1rem;
    color: #ffffff;
    border-radius: 1rem;
  }

  .about .about-body .brief-one {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../images/Web_3.webp);
    background-position: center;
    background-size: cover;
  }

  .about .about-body .brief-two {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../images/group-cert.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
  }

  .about .about-body .brief-three {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../images/class-room.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
  }

  .about .about-body .box4image,
  .about .about-body .brief-image {
    display: none;
  }

  .about .about-body .brief-text {
    text-align: center;
  }

  /* Testimonials */
  .about-end {
    background-color: #fff;
    color: #000;
    padding: 3rem 0 0;
    margin: 3rem 0 12rem;
    height: 120vh;
  }

  .mobile-carou-text {
    display: block;
  }

  .carou-text {
    display: none;
  }

  .nasiru,
  .tewo {
    flex-direction: column-reverse;
  }

  .mobile-carou-text > p {
    font-style: italic;
  }

  .chuks img,
  .tewogbade img {
    width: 50%;
  }

  .nasiru img,
  .rita img {
    width: 35%;
  }

  .left-image {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  /* Testimonials */
  .about-end {
    margin: 3rem 0 12rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-end {
    margin: 8rem 2rem;
    padding: 3rem 0;
  }
}
