@media (min-width: 320px) and (max-width: 576px) {
  .programmes-hero {
    display: none;
  }

  .after-hero {
    background-color: #eee;
  }

  .after-hero-content {
    padding: 2rem 12px;
  }

  .after-hero-content h1 span {
    border-bottom: none;
    padding-bottom: 0;
  }

  .main-story-section {
    display: block;
    padding-bottom: 2rem;
  }

  .main-story-section .card {
    width: 100%;
    margin-bottom: 4rem;
    background-color: #fff;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .programmes-hero {
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
  }

  .main-story-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 2rem;
    padding-bottom: 2rem;
  }

  .main-story-section .card {
    width: 16rem;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .programmes-hero {
    color: #fff;
    text-align: center;
    padding: 2rem 3rem;
  }

  .main-story-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-bottom: 2rem;
  }

  .main-story-section .card {
    width: 18rem;
  }
}

@media (min-width: 1300px) {
  .main-story-section {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-bottom: 2rem;
  }

  .main-story-section .card {
    width: 18rem;
  }

  .main-story-section .card .card-info {
    height: 55vh;
  }
}
