.timer-section {
  display: grid;
  grid-template-columns: 1fr 50px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  align-items: center;
}

.timer {
  padding: 7px 10px 0;
  justify-content: center;
}

.timer .cohort {
  text-align: center;
  margin-right: 1px;
  font-size: 15px;
  color: #fff;
}

.cohort span {
  color: #20cfc4;
  font-size: 2rem;
}

/* .timer .time p {
  margin-left: 5px;
} */

.close-icon {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
}

.close-icon:hover {
  color: rgb(172, 118, 118);
  cursor: pointer;
}
