@media (min-width: 320px) and (max-width: 576px) {
  .hire-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../images/hire.jpg);
    background-position: center;
    /* height: 130vh; */
  }

  .hire-section-hero {
    color: #fff;
    text-align: center;
    padding: 2rem;
  }

  .hire-after-hero {
    background-color: #eee;
  }

  .hire-after-hero-content {
    padding: 2rem;
  }

  .hire-after-hero-content h1 span {
    border-bottom: none;
    padding-bottom: 0;
  }

  .hire-after-hero-content > p {
    margin: 2rem 0;
  }

  .hire-body {
    display: block;
    /* padding: 4rem 0; */
  }

  .hire-body .hire-left img {
    width: 60%;
    border-radius: 15rem;
  }

  .hire-body .hire-left,
  .hire-body .hire-right {
    width: 100%;
  }

  .hire-body form input,
  .hire-body form select,
  .hire-body form textarea {
    width: 100%;
  }
}
