header {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(193, 192, 192, 0.5),
      rgba(29, 205, 254, 0.5),
      rgba(32, 207, 196, 0.4)
    ),
    url(../../images/web_1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header .mobile-header {
  display: none;
}

.head {
  font-size: 3rem;
  color: #f1f1f1;
  padding-top: 7rem;
}

.head .head-content {
  text-align: center;
}

.animated-border {
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  font-size: 30px;
  /* overflow: hidden; */
}

.animated-border::before,
.animated-border::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 2px;
  transition: width 0.3s ease, left 0.3s ease, right 0.3s ease;
}

.animated-border::before {
  background-color: #373535;
  top: 0;
  left: 0;
}

.animated-border::after {
  background-color: #373535;
  bottom: 0;
  right: 0;
}

.animated-border:hover::before,
.animated-border:hover::after {
  width: 55%;
}

.animated-border:hover::before {
  left: 45%;
}

.animated-border:hover::after {
  right: 45%;
}

.typewriter-effect {
  color: #20cfc4;
  font-size: 10rem;
  text-align: left;
  display: grid;
  grid-template-columns: 480px 1fr;
  align-items: center;
  column-gap: 15px;
}

.typewriter-fixed {
  /* background-color: #000;
  background-image: linear-gradient(to right, #20cfc4, #1dcdfe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
  color: #1dcdfe;
  font-weight: bolder;
  text-align: right;
}

.typewriter-effect .typewriter-text {
  font-weight: bolder;
  color: #373535;
}

.head .mobile-subtitle {
  display: none;
}

.head .desktop-subtitle-btn {
  font-weight: bold;
  color: #373535;
  font-size: 1.2rem;
  background: linear-gradient(to right, #1dcdfe, #20cfc4);
  margin-top: 2rem;
}

.iconforsub {
  color: #373535;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 12px;
}

.head .btn-getstarted {
  color: #000;
  border: 3px double #20cfc4;
  padding: 10px 1rem;
  background: none;
  width: 200px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-getstarted:hover {
  color: #000;
  background: rgb(32, 207, 196);
  text-decoration: none;
  border: 1px double #000;
  padding: 10px 1rem;
  width: 200px;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-getstarted span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #fff;
  font-weight: bold;
}

.btn-getstarted span:after {
  color: #000;
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.btn-getstarted:hover span {
  padding-right: 35px;
}

.btn-getstarted span:hover {
  padding-right: 35px;
  color: #000;
}

.btn-getstarted:hover span:after {
  opacity: 1;
  right: 0;
}
