@media (min-width: 320px) and (max-width: 768px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
      url(../../images/Web_3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;
  }

  header .desktop-header {
    display: none;
  }

  header .mobile-header {
    display: block;
    padding: 0 12px;
  }

  header .mobile-header .mobile-span {
    color: #20cfc4;
  }

  .typewriter-effect {
    color: #20cfc4;
    font-size: 2.2rem;
    padding: 0 12px;
  }

  .head .h1-1 {
    font-size: 1.5rem;
    padding: 0 12px;
  }

  .head .h1-2 {
    font-size: 14px;
  }

  .head .head-content {
    padding: 3rem 0 0;
    /* text-align: left; */

    /* For Center placement */
    display: grid;
    place-items: center;
    height: 200px;
  }

  .head .btn-getstarted {
    color: #000;
    border: 1px double #20cfc4;
    padding: 10px 4rem;
    background: none;
    width: 200px;
    font-size: 1rem;
    margin-left: 12px;
  }

  .btn-getstarted:hover {
    color: #fff;
    text-decoration: none;
    border: 1px double #fff;
    padding: 10px 2rem;
    background: rgb(32, 207, 196);
    width: 200px;
  }

  .btn-getstarted span {
    position: static;
  }

  .btn-getstarted span:after {
    content: "";
  }

  .btn-getstarted:hover span {
    padding-right: 0;
  }
}
