.course-error-page {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../images/course-nf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.error-text {
  margin-top: 5rem;
}

.course-error-page h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(255, 0, 0);
}
