.enroll {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(../../images/class.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  background-position: center;
}

.enroll .enroll-heading h1 {
  color: #ffffff;
  margin: 9rem 0;
  font-size: 3rem;
  text-align: center;
}

.enroll .enroll-form {
  background-color: #ffffff;
  color: #000;
  padding-top: 2rem;
}

.enroll .go-back a span,
.go-back-icon {
  color: #20cfc4;
}

.enroll .go-back a span:hover {
  color: #ff0000;
}

.enroll .enroll-form h1 {
  padding: 0 10rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.enroll .subscription {
  display: flex;
  margin: 5rem 0;
}

.subscription .sub-form {
  width: 65%;
}

.sub-form form label {
  width: 20%;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.sub-form form input,
.sub-form form select {
  width: 60%;
  outline: none;
  padding: 10px 12px;
  margin-left: 4rem;
}

.sub-form form select {
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}

.sub-form .enroll-btn .register {
  color: #000;
  border: 3px solid #20cfc4;
  padding: 10px 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(29, 205, 254, 0.6),
    rgba(32, 207, 196, 0.6)
  );
  margin-right: 1rem;
  width: 25%;
  border-radius: 8px;
}

.sub-form .enroll-btn .download-btn {
  color: #20cfc4;
  border: 3px solid #20cfc4;
  padding: 10px 2rem;
  margin: 2rem 0;
  background: none;
  border-radius: 8px;
}

.sub-form .enroll-btn .enroll-submit:hover {
  border: 3px double #20cfc4;
  background: none;
  color: #20cfc4;
}

.sub-form .enroll-btn .download-btn:hover {
  background: linear-gradient(
    to right,
    rgba(29, 205, 254, 0.6),
    rgba(32, 207, 196, 0.6)
  );
  color: #000;
}

.sub-form .enroll-btn {
  text-align: center;
}

.subscription .information {
  width: 35%;
}

.subscription .information .notice {
  background: linear-gradient(
    to right,
    rgba(29, 205, 254, 0.6),
    rgba(32, 207, 196, 0.6)
  );
  padding: 2rem 1rem;
  height: fit-content;
  border-radius: 8px;
}

.subscription .information .require {
  background: linear-gradient(
    to right,
    rgba(111, 87, 113, 0.6),
    rgba(78, 116, 114, 0.6)
  );
  padding: 2rem 1rem;
  height: fit-content;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.subscription .information .notice h5,
.subscription .information .require h5 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.subscription .information .notice ul li,
.subscription .information .require ul li {
  margin-bottom: 1.5rem;
  list-style-type: square;
}

/* Timer */
.timer {
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(111, 87, 113, 0.4),
    rgba(78, 116, 114, 0.2)
  );
  padding: 1rem 1rem 0;
  height: fit-content;
  border-radius: 8px;
  margin-top: 3rem;
}

.timer > p {
  font-size: 1rem;
  letter-spacing: 2px;
  color: #000;
}

.timer .time {
  justify-content: center;
  display: flex;
  margin-right: 4px;
}

.timer .time p {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px 1.6rem;
  font-size: 1.5rem;
  margin-right: 7px;
  color: #000;
}

.timer .time .period {
  font-size: 7px;
}
