.timer-section {
  display: grid;
  grid-template-columns: 1fr 50px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  align-items: center;
}

.timers {
  padding: 7px 10px 0;
  justify-content: center;
}

.mobile-banner {
  display: none;
}

.timers .cohort {
  text-align: center;
  margin-right: 1px;
  font-size: 12px;
  color: #fff;
}

.cohort span {
  color: #20cfc4;
  font-size: 1rem;
}

.close-icon-mobile {
  display: none;
}

.close-icon-desktop {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
}

.close-icon-desktop:hover {
  color: rgb(172, 118, 118);
  cursor: pointer;
}

.banner-link {
  color: #fff;
  font-size: 12px;
}

.banner-link:hover {
  color: #20cfc4;
}
