@media (min-width: 320px) and (max-width: 576px) {
  .timer-section {
    padding: 0 10px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }

  .timers {
    padding: 12px 10px 0;
  }

  .desktop-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
  }

  .mobile-banner {
    display: flex;
    justify-content: space-between;
  }

  .mobile-banner .banner-timer {
    display: flex;
    margin-left: 1.5rem;
  }

  .mobile-banner .banner-timer p {
    background-color: #fff;
    margin-right: 5px;
    border-radius: 5px;
    padding: 0 8px;
  }

  .mobile-banner span {
    font-size: 8px;
    color: #000;
    /* font-weight: bold; */
  }

  .mobile-banner .number {
    font-size: 1rem;
    font-weight: bold;
  }

  .mobile-banner a {
    font-size: 10px;
  }

  .timers .cohort {
    font-size: 12px;
    text-align: start;
    margin-right: 1rem;
  }

  .close-icon {
    text-align: end;
  }
}
