@media (min-width: 320px) and (max-width: 576px) {
  .timer-section {
    display: block;
    background-color: #000;
    color: #fff;
  }

  .timers {
    padding: 8px 14px 0;
  }

  .desktop-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
  }

  .mobile-banner {
    display: flex;
    justify-content: space-between;
  }

  .mobile-banner .banner-timer {
    display: flex;
    margin-left: 1.5rem;
  }

  .mobile-banner .banner-timer p {
    background-color: #fff;
    margin-right: 5px;
    border-radius: 5px;
  }

  .mobile-banner span {
    font-size: 8px;
    color: #000;
  }

  .mobile-banner .number {
    font-size: 1rem;
    font-weight: bold;
  }

  .mobile-banner a {
    font-size: 10px;
  }

  .timers .cohort {
    font-size: 13px;
    text-align: start;
  }

  .close-icon-desktop {
    display: none;
  }

  .close-icon-mobile {
    display: block;
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 5px;
  }

  .close-icon-mobile:hover {
    color: rgb(172, 118, 118);
    cursor: pointer;
  }
}
