@media (min-width: 320px) and (max-width: 991px) {
  nav #navigation-bar {
    flex-direction: row-reverse;
  }

  .navbar-brand {
    width: 70%;
  }

  .navbar-brand img {
    width: 50%;
  }

  nav .navbar-nav {
    text-align: center;
    padding: 1rem 0 2rem;
    background: rgba(32, 207, 196, 0.2);
    border: 1px solid #000;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  nav .navbar-nav .link {
    margin-top: 2rem;
    margin-right: 0;
  }

  .nav-icon {
    display: inline;
    margin-right: 10px;
  }

  .navbar-nav .btn-hire {
    color: #fff;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
  }

  .navbar-nav .btn-hire:hover {
    background: none;
    border-style: none;
    color: #20cfc4;
  }

  #mobile-nav-btn {
    box-shadow: none;
    color: #fff;
    font-size: 1.5rem;
    border-style: none;
    border: none;
  }

  #mobile-nav-btn:hover {
    color: #20cfc4;
  }

  .navbar-nav .current-active,
  .navbar-nav .contact-active {
    color: #fff;
    border-bottom: none;
    font-weight: normal;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand {
    width: 50%;
  }

  .navbar-brand img {
    width: 30%;
  }

  .navbar-nav .link {
    color: #fff;
    text-decoration: none;
    margin-right: 1.2rem;
    justify-content: end;
    font-size: 12px;
  }
}
