@media (min-width: 375px) and (max-width: 991px) {
  footer .navbar-brand {
    text-align: center;
    width: 100%;
  }

  footer .navbar-brand img {
    width: 40%;
  }

  footer {
    padding: 1.2rem;
  }

  footer .all-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin-top: 2.5rem;
    text-align: center;
  }

  footer .all-links .navbar-nav a {
    font-size: 14px;
  }

  footer .links-column .socials,
  footer .links-column a {
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  footer .section-three .socials {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #fff;
  }
}
