footer {
  background-color: #201f1f;
  color: #fff;
  padding: 1rem 0;
}

footer .footer-body {
  margin-top: 3rem;
  text-align: center;
}

footer h6 {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
}

footer .section-one {
  text-align: left;
}

footer .section-two,
footer .attribution {
  text-align: center;
}

footer .section-two {
  font-weight: bolder;
  font-size: 2rem;
  text-align: right;
}

footer .section-three {
  text-align: center;
}

footer .section-two a,
footer .section-three .socials {
  margin-right: 2rem;
  font-size: 1.3rem;
  color: #fff;
}

footer .section-three a {
  font-size: 1.3rem;
  color: #fff;
}

footer .section-two a:hover,
footer .section-three a:hover {
  color: #6a6969;
}

footer .attribution p {
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .attribution p a {
  color: #ffff00;
}
